.tabla {
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 80%;
    /* Ajusta el ancho de la tabla según tus preferencias */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}