/* ------------------------------------------*/
/*                 GENERAL                   */
/* ------------------------------------------*/

body {
    background-color: #4f4646;
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
}

h2 {
    text-align: center;
    color: #00E7DD;
    font-size: 24px;
    margin-top: 20px;
}

/* ------------------------------------------*/
/*                   TABLA                   */
/* ------------------------------------------*/

.tabla {
    border: 1px solid #00E79F;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #00E79F;
    text-align: center;
    color: #fff;
    padding: 8px;
}

td {
    background-color: #a8a7a5;
    /* Amarillo muy suave solo para el fondo de las celdas */
}

th {
    background-color: #333;
    color: #fff;
    font-family: 'Halis Grotesque', sans-serif;
    /* Tipo de letra para los encabezados de la tabla */
}

/* ------------------------------------------*/
/*                   LOGO                    */
/* ------------------------------------------*/

.logo-container {
    text-align: center;
    position: relative;
    padding: 20px;
    /* Ajusta según sea necesario */

}

.logo-bar {
    background: linear-gradient(45deg, #3498db, #2ecc71);
    height: 490px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom-right-radius: 600px;
    /* Ajusta según sea necesario */
}

.logo {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    /* Ajuste aquí */
    z-index: 2;
}

/* ------------------------------------------*/
/*                 BOTONES                   */
/* ------------------------------------------*/

/* BOTONES PEGADOS*/
.pack-cont-botones {
    position: sticky;
    top: 0;
    opacity: 100%;
    background-color: #4f4646;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    justify-content: center;
    /* Alinea los elementos en el centro horizontalmente */
    align-items: center;
    /* Alinea los elementos en el centro verticalmente */
    padding: 10px;
    /* Añade algún espacio alrededor de los botones si es necesario */
}

/* CONTENEDOR DE BOTONES */
.contenedor-botones {
    text-align: center;
}

/* BOTÓN DE CONSULTA */
.boton-consulta {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, #3498db, #2ecc71);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.boton-consulta:hover {
    background: linear-gradient(45deg, #2ecc71, #3498db);
}

/* BOTÓN VOLVER */
.boton-volver {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, #bd472a, #ccaf2e);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.boton-volver:hover {
    background: linear-gradient(45deg,#ccaf2e, #bd472a);
}
